---
import Logo from "@/components/Logo.astro";
import Social from "@/components/Social.astro";
import social from "@/config/social.json";

const footer = [
  {
    name: "Inicio",
    url: "/",
  },
  {
    name: "Nuestra Iglesia",
    url: "/nuestra-iglesia",
  },
  {
    name: "Nuestra doctrina",
    url: "/nuestra-doctrina",
  },
  {
    name: "Contacto",
    url: "/contacto",
  },
];
---

<footer class="bg-theme-light dark:bg-darkmode-theme-light">
  <div class="container">
    <div class="row items-center py-10">
      <div class="mb-8 text-center lg:col-3 lg:mb-0 lg:text-left items-center flex flex-col gap-3">
        <Logo />
        <h5 class="text-center text-balance text-primary">
          Iglesia Bautista del Sur Voz de Salvación
        </h5>
      </div>
      <div class="mb-8 text-center lg:col-6 lg:mb-0">
        <ul>
          {
            footer.map((menu: any) => (
              <li class="m-3 inline-block">
                <a href={menu.url}>{menu.name}</a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="mb-8 text-center lg:col-3 lg:mb-0 lg:mt-0 lg:text-right">
        <Social source={social.main} className="social-icons" />
      </div>
    </div>
  </div>
</footer>
