---
import ImageMod from "@/components/ImageMod.astro";
---

<section class={`section-sm bg-gradient`}>
  <div class="container">
    <div class="row items-center justify-between">
      <div class={`mb:md-0 md:col-5 md:order-1`}>
        <ImageMod
          class="w-full rounded-lg shadow-md"
          src={"/images/creciendo.jpg"}
          height={640}
          width={427}
          alt={"Creciendo en Dios"}
          format="webp"
        />
      </div>
      <div
        class={`md:col-7 lg:col-6 md:order-2 text-balance text-center lg:text-left`}
      >
        <h2
          class="text-3xl lg:text-4xl font-extrabold my-4 text-gray-800"
        >
          Creciendo en Dios
        </h2>
        <blockquote class="italic text-gray-500 lg:text-base mb-4 text-center text-balance">
          "Que no se gloríe el sabio de su sabiduría, ni el poderoso de su
          poder, ni el rico de su riqueza.Si alguien ha de gloriarse, que se
          gloríe de conocerme y de comprender que yo soy el Señor, que actúo en
          la tierra con gran amor, derecho y justicia, pues es lo que a mí me
          agrada, afirma el Señor." (Jeremías 9:23-24)
        </blockquote>
        <p class="mb-8 text-base md:text-lg">
          En nuestra Iglesia Bautista del Sur Voz de Salvación, anhelamos crecer
          juntos en el conocimiento y amor de Dios, siguiendo fielmente las
          Escrituras como nuestra guía y fundamento. Creemos que la Palabra de
          Dios es la verdad que transforma nuestras vidas, y deseamos que todos
          puedan experimentar su gracia y sabiduría.
        </p>
        <a
          href="/doctrina"
          class="btn btn-primary px-6 py-3 w-full md:w-auto text-white justify-center shadow-lg transition duration-300 ease-in-out inline-flex gap-2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25"
            ></path>
          </svg>
          Conoce más de nuestra doctrina
        </a>
      </div>
    </div>
  </div>
</section>
