---
import ImageMod from "@/components/ImageMod.astro";
import TimeLine from "@/helpers/TimeLine";
import Base from "@/layouts/Base.astro";
---

<Base title="Iglesia Bautista, Voz de Salvación | Nuestra Iglesia">
  <section class="section-sm">
    <div class="container">
      <h1
        class="font-bold font-heading leading-tighter tracking-tighter mb-12 md:mb-16 md:text-6xl text-5xl text-center text-balance"
      >
        Iglesia Bautista del Sur,
        <span
          class="text-primary underline underline-offset-[12px] md:underline-offset-[16px]"
        >
          Voz de Salvación
        </span>
      </h1>
      <div class="row items-center justify-between">
        <div class={`mb:md-0 md:col-5 md:order-1`}>
          <ImageMod
            class="w-full rounded-lg shadow-md"
            src={"/images/read-bible-man.jpg"}
            width={1024}
            height={684}
            alt={"Firmes en la Soberanía de Dios, Guiados por Su Palabra"}
            format="webp"
          />
        </div>
        <div
          class={`md:col-7 lg:col-6 md:order-2 text-balance text-center lg:text-left`}
        >
          <h2 class="text-3xl lg:text-4xl font-extrabold my-4 text-gray-800">
            Firmes en la Soberanía de Dios, Guiados por Su Palabra
          </h2>
          <blockquote
            class="italic text-gray-500 lg:text-base mb-4 text-center text-balance"
          >
            "Acordaos de las cosas pasadas desde los tiempos antiguos; porque yo
            soy Dios, y no hay otro Dios, y nada hay semejante a mí, que anuncio
            lo por venir desde el principio, y desde la antigüedad lo que aún no
            era hecho; que digo: Mi consejo permanecerá, y haré todo lo que
            quiero." Isaías 46:9-10 (RVR1960)
          </blockquote>
          <p class="mb-8 text-base md:text-lg">
            Somos una Iglesia Bautista Reformada, comprometida con la
            proclamación del evangelio de Jesucristo, edificada en la Palabra de
            Dios, y dedicada a glorificar a Dios en cada aspecto de nuestra vida
            y comunidad.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class={`section bg-indigo-100`}>
    <div class="container">
      <div class="grid md:grid-cols-2 mt-16 gap-16 place-items-center">
        <div class="flex flex-col gap-4 items-center">
          <ImageMod
            class="rounded-full h-24 w-24 shadow-md"
            src={"/images/cross-2.jpg"}
            width={96}
            height={96}
            alt={"Firmes en la Soberanía de Dios, Guiados por Su Palabra"}
            format="webp"
          />
          <h2 class="text-3xl lg:text-4xl font-extrabold my-4 text-gray-800">
            Nuestra Misión
          </h2>
          <p class="mb-8 text-base md:text-lg">
            Nuestra misión es glorificar a Dios mediante la proclamación fiel de
            Su Palabra, haciendo discípulos de todas las naciones, y edificando
            una comunidad que vive en santidad, adoración y servicio. Nos
            comprometemos a predicar el evangelio de Jesucristo, equipar a los
            creyentes con una fe bíblica sólida, y reflejar el amor de Dios en
            nuestras vidas diarias.
          </p>
        </div>
        <div class="flex flex-col gap-4 items-center">
          <ImageMod
            class="rounded-full h-24 w-24 shadow-md"
            src={"/images/camino.jpg"}
            width={96}
            height={96}
            alt={"Firmes en la Soberanía de Dios, Guiados por Su Palabra"}
            format="webp"
          />
          <h2 class="text-3xl lg:text-4xl font-extrabold my-4 text-gray-800">
            Nuestra Visión
          </h2>
          <p class="mb-8 text-base md:text-lg">
            Nuestra visión es ser una iglesia transformada por la gracia de
            Dios, que crece en el conocimiento profundo de Su Palabra, y es
            guiada por el Espíritu Santo para impactar tanto a nuestra comunidad
            local como a las naciones. Anhelamos ser un faro de luz y verdad,
            donde cada persona pueda encontrar salvación, esperanza, y comunión
            en Cristo, viviendo en unidad como cuerpo de creyentes.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-sm bg-gradient">
    <div class="container">
      <TimeLine client:load />
    </div>
  </section>
</Base>
